In [1]:
import pandas as pd
import re

In [2]:
def attendance(x):
    x = x.replace('-','')
    l = list(set(re.findall('\d{13}',x)))
    return pd.DataFrame({"CNIC":l})

In [3]:
x = """
Shakir Hussain2:51 PM
42101-9276734-9
Muhammad Ayaz2:52 PM
4410242997959
Masroor3:02 PM
42201-2286846-7
taimoor qureshi3:06 PM
4240179641627
Tatheer Fatima3:07 PM
4210124609792
Dewan S Khan3:09 PM
4220105630741
Arsalan Ahmed3:12 PM
42201-6535195-7
Dewan S Khan3:12 PM
4220105630741
Bilal Uddin3:13 PM
4220122191357
Muhammad Atique Qayyum3:16 PM
4220140225236
Tariq Mehmood3:16 PM
4220104505899
Haris Chhipa3:17 PM
4210156195059
Dewan S Khan3:17 PM
import re
a=re.findall(r'\bFrom (.*) To Everyone : (\d{5,7})',x)
Haris Chhipa3:19 PM
3130399221225
Zeeshan Naqvi3:19 PM
4210151751811
Muhammad Sameer3:20 PM
42501-1025700-1
Masroor3:20 PM
42401-1880106-5
Mohsin Kanani3:20 PM
4230108335683
Hassan Ahmed3:20 PM
4220156089133
Muhammad Sameer3:20 PM
4250110257001
Waqas Zafar3:20 PM
5440004083505
Ali Naiyar3:20 PM
4210120075463
Malik Humza3:20 PM
4240105171159
HAREEM RIZVI3:20 PM
42101-3311570-4
Muhammad Ayaz3:20 PM
4410242997959
Yusra Adnan3:20 PM
4210164790696
Shakir Hussain3:20 PM
4210182767349
Yusra Adnan3:20 PM
Yusra Adnan
Zareen Fatima3:20 PM
3520269403788
zain abidi3:20 PM
4250119167549
Muhammad Atique Qayyum3:20 PM
4250104502069
Syed Sajjad Raxa3:20 PM
4220143471143
usman ahmad3:20 PM
4220113316709
Syed Kashif3:21 PM
4250144488545
Syed Ammad Waheed3:21 PM
4210113863591
Dewan S Khan3:21 PM
4220105630741
Faizan Ehtesham3:21 PM
4240114707349
Hussain Ali3:21 PM
4220117852609
Muhammad Sameer3:21 PM
4210115022744
Arsalan Risalat3:21 PM
4220124812817
Mohsin Kanani3:21 PM
4230108335683
Syed Ammad Waheed3:21 PM
4210113863591 Syed Ammad Waheed Hassani
Asima Ali3:21 PM
4420626938874
Mushyada Ali3:21 PM
4210103553847
Muhammad Sameer3:22 PM
425010257001
Zareen Fatima3:22 PM
3520269403788
Mushyada Ali3:22 PM
4210146436547 M Afnan Ali Khan
Bilal Uddin3:22 PM
4220122868467 Abdullah
Sheikh Faizan3:22 PM
42101-7490505-9
Syed Tanveer3:22 PM
4220169252467
Sheikh Faizan3:22 PM
Sheikh Faizan
Mushyada Ali3:23 PM
4210103553847
Sheikh Faizan3:23 PM
Sheikh Faizan
42101-7490505-9
Muhammad Sameer3:23 PM
4250110257001
4210115022744
myd-bnjm-grb
"""
df1 = attendance(x)
df1['c1'] = 1
print(len(df1))
df1.head()

39

            CNIC  c1
0  4230108335683   1
1  4410242997959   1
2  4210164790696   1
3  4220113316709   1
4  4210146436547   1

# Class2

In [4]:
x = """
Dewan S Khan1:32 PM
4220105630741
Zareen Fatima1:35 PM
no voice
Khawar Masood1:39 PM
yes
Muhammad faizan Farooque1:39 PM
4230139662957
Syed Ammad Waheed1:42 PM
4210113863591 Syed Ammad Waheed Hassani
Muhammad Rohan1:58 PM
Avatar bnadya isne sir
Nazneen Akram1:58 PM
:D
Ad Khan1:59 PM
Muhammad Adnan Khan 4220113823383
Masroor2:02 PM
42401-1880106-5
Khawar Masood2:19 PM
42101-4113797-7
Rozina Mazhar Ali2:25 PM
4220159083880
Yusra Adnan2:30 PM
4210164790696
Bilal Uddin2:31 PM
4220122191357
Shakir Hussain2:31 PM
4210182767349
Nazneen Akram2:31 PM
4210145447712
Zahid Bashir2:33 PM
4250191411023
Munir Ali2:34 PM
4220101410369
zain abidi2:38 PM
4250119167549
Muhammad Rohan2:45 PM
4210116966995
Sania Tehseen2:54 PM
4210115022744
Syed Tanveer2:55 PM
4220169252467
Zareen Fatima2:55 PM
3520269403788
HAREEM RIZVI2:55 PM
42101-3311570-4
Asima Ali2:55 PM
4420626938874
Syed Masroor Ali (Masroor)2:58 PM
42401-1880106-5
You2:58 PM
https://github.com/EnggQasim/NED_ML_batch3/blob/main/class2/File%20Handling.ipynb
Dewan S Khan2:59 PM
4220105630741
Arsalan Risalat2:59 PM
4220124812817
Tabassum Ali3:03 PM
4230123126547
Arsalan Ahmed3:03 PM
42201-6535195-7
Haris Chhipa3:04 PM
4210156195059
Syed Masroor Ali (Masroor)3:07 PM
42201-2286846-7
Tariq Mehmood3:08 PM
4220104505899
Haris Chhipa3:09 PM
3130399221225
Shakir Hussain3:14 PM
42101-8276734-9
Dewan S Khan3:14 PM
4220105630741
Muhammad Sameer3:16 PM
4210115022744
4250110257001
Dewan S Khan3:16 PM
4220105630741
Syed Masroor Ali (Masroor)3:17 PM
42401-1880106-5
Zareen Fatima3:17 PM
3520269403788
Muhammad Atique Qayyum3:17 PM
4220140225263
Dewan S Khan3:17 PM
4220105630741
Khawar Masood3:17 PM
42101-4113797-7
Muhammad Rohan3:17 PM
4210116966995
Munir Ali3:17 PM
4220101410369
Hassan Ahmed3:17 PM
4220156089133
Sheikh Faizan3:17 PM
Sheikh Faizan
42101-7490505-9
Muhammad Sameer3:17 PM
4210115022744
4250110257001
Muhammad Ayaz3:17 PM
4410242997959
Nofil Ahmed3:17 PM
4210175076663
Fazal Diyan3:17 PM
42301-9945992-1
Mohsin Kanani3:17 PM
4230108335683
Syed Kashif Ahmed3:17 PM
4250144488545
Fazal Diyan3:17 PM
4210146436547
usman ahmad3:18 PM
4220113316709
Fazal Diyan3:18 PM
4210184252633
Malik Humza3:18 PM
4240105171159
Aqeel Mehdi3:18 PM
4220105436681
zain abidi3:18 PM
4250119167549
HAREEM RIZVI3:19 PM
42101-3311570-4
Bilal Ahmed3:19 PM
4210120075463
Khizra Rizvi3:19 PM
544004746932
Muhammad Sameer3:19 PM
4210115022744
4250110257001
Bilal Ahmed3:19 PM
4210198030681
myd-bnjm-grb
"""
df2 = attendance(x)
print(len(df2))
df2['c2'] = 1
df2.head()

43

            CNIC  c2
0  4230108335683   1
1  4410242997959   1
2  4210164790696   1
3  4220113316709   1
4  4250191411023   1

# Class3

In [5]:
x = """
Syed Tanveer1:40 PM
4240179641627
4220169252467
Zeeshan Naqvi1:40 PM
4210151751811
Syed Masroor Ali (Masroor)1:40 PM
42401-1880106-5
Mushyada Ali1:41 PM
4210103553847
Mohsin Kanani1:41 PM
4230108335683
Tatheer Fatima1:42 PM
4210124609792
Saba Naz1:42 PM
4250125987808
Zahid Bashir1:47 PM
4250191411023
Syed Ammad Waheed1:47 PM
4210113863591 Syed Ammad Waheed Hassani
Khawar Masood1:48 PM
Syed Khawar Masood Naqvi 
42101-4113797-7
Muhammad Rohan1:50 PM
I shared a Jam file with the meeting: https://jamboard.google.com/d/1o_ATMRDs92LgPetAhYNo3SzGiTVY8FstCST6Pw6mTGQ/edit?usp=meet_whiteboard
usman ahmad1:51 PM
crude oil and petrol
Dewan S Khan1:52 PM
4220105630741
usman ahmad1:55 PM
no sir
Hussain Ali2:03 PM
4220117852609
Ali Naiyar2:04 PM
4210198030681
Nazneen Akram2:07 PM
https://www.simplilearn.com/
I am using this learning machine learning
Syed Usama Shahzad2:08 PM
Thanks nazneen
Khizra Rizvi2:08 PM
Khizra
5440047459326
Muhammad Ayaz2:09 PM
RapidMiner is an open-source data science platform that provides an integrated environment for data preparation, machine learning, deep learning, text mining, and predictive modeling.
Rozina Mazhar Ali2:16 PM
4220159083880
Wasiq Gt2:16 PM
4250104502069
Muhammad Atique Qayyum2:17 PM
4220140225263
Arsalan Risalat2:24 PM
4220124812817
Tabassum Ali2:24 PM
4230123126547
Faiza Asad2:28 PM
4200052746960
Tariq Mehmood2:30 PM
4220104505899
Syed Usama Shahzad2:31 PM
42101-3416307-9
Tabish sheikh2:35 PM
4210129511133
zain abidi2:41 PM
4250119167549
Zeeshan Javed2:41 PM
4230189725317
Dewan S Khan2:41 PM
4220105630741
Yusra Adnan2:41 PM
4210164790696
Zeeshan Naqvi2:42 PM
4210151751811
Bilal Uddin2:42 PM
4220122191357
Dewan S Khan2:43 PM
4220105630741
usman ahmad2:45 PM
4220113316709
HAREEM RIZVI2:45 PM
4210133115704
Muhammad Rohan2:46 PM
4210116966995
Zareen Fatima2:46 PM
3520269403788
Asima Ali2:46 PM
4420626938874
Mohsin Kanani2:46 PM
4230108335683
Haris Chhipa2:46 PM
4210156195059
Nofil Ahmed2:46 PM
4210175076663
Syed Kashif2:46 PM
4250144488545
Dewan S Khan2:46 PM
4220105630741
Muhammad Ayaz2:46 PM
4410242997959
Faizan Ehtesham2:46 PM
4240114707349
Hassan Ahmed2:46 PM
4220156089133
Shakir Hussain2:46 PM
42101-9276734-9
Syed Usama Shahzad2:46 PM
42101-3416307-9
Syed Masroor Ali (Masroor)2:46 PM
42401-1880106-5
Faiza Asad2:46 PM
4200052746960
Rahat Qayoum EB20_110 (20102110)2:46 PM
4240128161338
Qazi Moawiz2:46 PM
3130399221225
Munir Ali2:46 PM
4220101410369
Syed Tanveer2:46 PM
4240179641627
taimoor qureshi2:46 PM
4240179641627
Saba Naz2:46 PM
4250125987808
Tatheer Fatima2:47 PM
4210124609792
Shakir Hussain2:47 PM
4210182767349
Syed Tanveer2:47 PM
4220169252467
Qazi Moawiz2:47 PM
3130399221225
Bilal Ahmed2:48 PM
4210120075463
4210182767349
Shakir Hussain
Nazneen Akram2:48 PM
4210145447712
Muhammad Rohan2:49 PM
4210116966995
myd-bnjm-grb
"""
df3 = attendance(x)
print(len(df3))
df3['c3'] = 1
df3.head()

46

            CNIC  c3
0  4230108335683   1
1  4220113316709   1
2  4210164790696   1
3  4410242997959   1
4  4250191411023   1

In [7]:
x4 = """
Tabassum Ali3:06 PM
sir your mic is off
Syed Masroor Ali (Masroor)3:06 PM
yes sir
Khawar Masood3:06 PM
Syed Khawar Masood Naqvi 
42101-4113797-7
Syed Masroor Ali (Masroor)3:07 PM
Yes
42401-1880106-5
Syed Ammad Waheed3:07 PM
4210113863591 Syed Ammad Waheed Hassani
Ali Naiyar3:07 PM
4210198030681
Ad Khan3:09 PM
Muhammad Adnan Khan
4220113823383
Muhammad Ayaz3:17 PM
4410242997959
Zeeshan Naqvi3:18 PM
4210151751811
Syed Tanveer3:18 PM
42201-6925246-7
Malik Humza3:18 PM
4240105171159
You3:18 PM
https://www.markdownguide.org/cheat-sheet/
Syed Masroor Ali (Masroor)3:20 PM
masroor
yes
OK
You3:21 PM
pip install tensorflow
Ali Naiyar3:22 PM
Already installed
Dewan S Khan3:22 PM
422010563074q
4220105630741
Tatheer Fatima3:23 PM
4210124609792
zain abidi3:23 PM
4250119167549
Zahid Bashir3:23 PM
4250191411023
Afnan Ali3:23 PM
4210146436547
Faiza Asad3:23 PM
4200052746960
Muhammad faizan Farooque3:23 PM
4230139662957
Mushyada Ali3:25 PM
4210103553847
Wasiq Gt3:28 PM
4210120075463
4250104502069
Mohsin Kanani3:34 PM
4230108335683
Zareen Fatima3:34 PM
please guide on which version to intall
Rozina Mazhar Ali3:40 PM
4220159083880
Saba Naz3:45 PM
4250125987808
Zeeshan Javed3:46 PM
4230189725317
Bilal Uddin3:47 PM
4220122191357
Arsalan Risalat3:56 PM
4220124812817
Faizan Ehtesham3:57 PM
4240114707349
Muhammad Ayaz4:03 PM
4410242997959
Tabassum Ali4:11 PM
4410242997959
Shakir Hussain4:14 PM
42101-8276734-9
4210182767349
Muhammad faizan Farooque4:16 PM
4230139662957
HAREEM RIZVI4:22 PM
42101-3311570-4
Zeeshan Naqvi4:22 PM
4210151751811
Hassan Ahmed4:22 PM
4220156089133
Syed Masroor Ali (Masroor)4:22 PM
42401-1880106-5
Tabish sheikh4:22 PM
4210129511133
Syed Kashif4:24 PM
4250144488545
Munir Ali4:24 PM
4220101410369
Nazneen Akram4:24 PM
4210145447712
Munir Ali4:29 PM
4220101410369
Dewan S Khan4:31 PM
4220105630741
Arsalan Ahmed4:31 PM
42201-6535195-7
Tariq Mehmood4:31 PM
4220104505899
Waqas Zafar4:34 PM
5440004083505
Syed Masroor Ali (Masroor)4:38 PM
42401-1880106-5
Dewan S Khan4:38 PM
4220105630741
Asima Ali4:38 PM
4420626938874
Bilal Ahmed4:40 PM
4210120075463
Muhammad Atique Qayyum4:43 PM
4220140225263
Yusra Adnan4:44 PM
4210164790696
Dewan S Khan4:44 PM
4220105630741
Syed Masroor Ali (Masroor)4:44 PM
42201-2286846-7
Faizan Ehtesham4:46 PM
4240114707349
Syed Tanveer4:46 PM
4220169252467
Zareen Fatima4:47 PM
3520269403788
Zeeshan Naqvi4:47 PM
4210151751811
Tabassum Ali4:49 PM
4230123126547
4230123126547
Haris Chhipa4:51 PM
4210156195059
Ali Naiyar4:51 PM
4210198030681
Dewan S Khan4:51 PM
4220105630741
Muhammad Sameer4:51 PM
4250110257001
Muhammad Ayaz4:51 PM
4410242997959
Qazi Moawiz4:51 PM
3130399221225
Munir Ali4:51 PM
4220101410369
Nofil Ahmed4:51 PM
4210175076663
Hussain Ali4:51 PM
4220117852609
Dewan S Khan4:51 PM
4220105630741
Muhammad Rohan4:51 PM
4210116966995
Sheikh Faizan4:51 PM
Sheikh m Faizan Saleem
42101-7490505-9
Fazal Diyan4:51 PM
4230199459921
Zeeshan Naqvi4:52 PM
4210151751811
Zeeshan Javed4:52 PM
4230189725317
Syed Masroor Ali (Masroor)4:52 PM
42401-1880106-5
Mohsin Kanani4:52 PM
423010835683
Muhammad Sameer4:52 PM
4210115022744
Faiza Asad4:52 PM
4200052746960
Khawar Masood4:52 PM
4210141137977
Faizan Ehtesham4:52 PM
4240114707349
Arsalan Ahmed4:52 PM
42201-6535195-7
Zareen Fatima4:52 PM
3520269403788
Tabish sheikh4:52 PM
4210129511133
Mohsin Kanani4:52 PM
4230108335683
Zeeshan Naqvi4:52 PM
4210151751811
Syed Masroor Ali (Masroor)4:52 PM
42201-2286846-7
Tatheer Fatima4:52 PM
4210124609792
Muhammad Sameer4:52 PM
4210115022744
myd-bnjm-grb
"""
df4 = attendance(x)
print(len(df4))
df4['c4'] = 1
df4.head()

46

            CNIC  c4
0  4230108335683   1
1  4220113316709   1
2  4210164790696   1
3  4410242997959   1
4  4250191411023   1

In [8]:
x5 = """
Zareen Fatima1:58 PM
yes
Saba Naz2:04 PM
4250125987808
Dewan S Khan2:04 PM
4220105630741
Munir Ali2:04 PM
4220101410369
Wasiq Gt2:04 PM
4250104502069
Ali Naiyar2:04 PM
4210198030681
Khawar Masood2:04 PM
4210141137977
Zeeshan Naqvi2:05 PM
4210151751811
Waqas Zafar2:05 PM
5440004083505
Meta Captives2:15 PM
4210120075463
Tabish sheikh2:15 PM
4210129511133
Zahid Bashir2:16 PM
4250191411023
Tatheer Fatima2:20 PM
4210124609792
Dewan S Khan2:21 PM
4220105630741
Muhammad Ayaz2:21 PM
4410242997959
Fazal Diyan2:22 PM
42301-9945992-1
Muhammad Uzair2:23 PM
True
Muneeb Ahmed2:24 PM
42101 8342718 3
Sheikh Faizan2:26 PM
done sir
Bilal Uddin2:30 PM
4220122191357
Syed Masroor Ali (Masroor)2:32 PM
4240118801065
Mohsin Kanani2:32 PM
4230108335683
Muhammad Uzair2:32 PM
4210184252633
Yusra Adnan2:33 PM
4210164790696
zain abidi2:34 PM
4250119167549
Faiza Asad2:34 PM
4200052746960
Zeeshan Javed2:35 PM
4230189725317
Muneeb Ahmed2:35 PM
42101 8342718 3
Khizra Rizvi2:35 PM
5440047459326
Syed Usama Shahzad2:46 PM
42101-3416307-9
Mohsin Kanani2:52 PM
42301-0833568-3
Hussain Ali2:55 PM
4220117852609
Tariq Mehmood3:02 PM
4220104505899
Syed Masroor Ali (Masroor)3:03 PM
4240118801065
Faizan Ehtesham3:03 PM
4240114707349
Arsalan Ahmed3:03 PM
42201-6535195-7
Dewan S Khan3:04 PM
4220105630741
Zareen Fatima3:04 PM
3520269403788
Qazi Moawiz3:04 PM
3130399221225
Mushyada Ali3:04 PM
4210103553847
Qazi Moawiz3:04 PM
4210156195059
Muneeb Ahmed3:04 PM
42101 8342718 3
Faiza Asad3:04 PM
4200052746960
Zeeshan Javed3:05 PM
4230189725317
Nazneen Akram3:05 PM
4210145447712
Asima Ali3:06 PM
4420626938874
Munir Ali3:07 PM
4220101410369
Shakir Hussain3:11 PM
4210182767349
HAREEM RIZVI3:12 PM
42101-3311570-4
Syed Kashif3:13 PM
4250144488545
Yusra Adnan3:13 PM
Can't hear you
Lagging
Zeeshan Javed3:14 PM
4230189725317
Rahat Qayoum EB20_110 (20102110)3:14 PM
4240128161338
Tabassum Ali3:14 PM
4230123126547
Meta Captives3:14 PM
4210120075463
Syed Tanveer3:14 PM
4220169252467
Afnan Ali3:14 PM
4210146436547
Hassan Ahmed3:14 PM
4220156089133
Mohsin Kanani3:14 PM
42301-0833568-3
Saba Naz3:14 PM
4250125987808
Faiza Asad3:14 PM
4200052746960
Nofil Ahmed3:14 PM
4210175076663
Sheikh Faizan3:14 PM
Sheikh Faizan
42101-7490505-9
Muhammad Rohan3:14 PM
4210116966995
Syed Masroor Ali (Masroor)3:14 PM
4240118801065
Fazal Diyan3:14 PM
42301-9945992-1
Afnan Ali3:14 PM
4250110257001
Tatheer Fatima3:14 PM
4210124609792
Asima Ali3:15 PM
4420626938874
Muhammad Uzair3:15 PM
4210184252633
zain abidi3:15 PM
4250119167549
Dewan S Khan3:16 PM
4220105630741
Wasiq Gt3:17 PM
4250104502069
Zeeshan Naqvi3:17 PM
4210151751811
Dewan S Khan3:17 PM
4220105630741
myd-bnjm-grb
"""
df5 = attendance(x)
print(len(df5))
df5['c5'] = 1
df5.head()

46

            CNIC  c5
0  4230108335683   1
1  4220113316709   1
2  4210164790696   1
3  4410242997959   1
4  4250191411023   1

# Final

In [13]:
df = df1.merge(df2,on='CNIC', how='outer').fillna(0).merge(df3,
                                                          on="CNIC",
                                                          how='outer').fillna(0).\
merge(df4,
       on="CNIC",
       how='outer').fillna(0)\
.merge(df5,
       on="CNIC",
       how='outer').fillna(0)

df['total'] = df.iloc[:,1:].astype(int).sum(axis=1)
df.sort_values(by="total", inplace=True, ascending=False)
print(len(df))
display(df.iloc[:,1:].sum(axis=0).T)
df.head(60)

61

c1        39.0
c2        43.0
c3        46.0
c4        46.0
c5        46.0
total    220.0
dtype: float64

             CNIC   c1   c2   c3   c4   c5  total
0   4230108335683  1.0  1.0  1.0  1.0  1.0      5
13  3520269403788  1.0  1.0  1.0  1.0  1.0      5
29  3130399221225  1.0  1.0  1.0  1.0  1.0      5
32  4210133115704  1.0  1.0  1.0  1.0  1.0      5
33  4210182767349  1.0  1.0  1.0  1.0  1.0      5
24  4210120075463  1.0  1.0  1.0  1.0  1.0      5
21  4220124812817  1.0  1.0  1.0  1.0  1.0      5
20  4240118801065  1.0  1.0  1.0  1.0  1.0      5
38  4220156089133  1.0  1.0  1.0  1.0  1.0      5
18  4220104505899  1.0  1.0  1.0  1.0  1.0      5
16  4250144488545  1.0  1.0  1.0  1.0  1.0      5
14  4420626938874  1.0  1.0  1.0  1.0  1.0      5
15  4220122191357  1.0  1.0  1.0  1.0  1.0      5
12  4220169252467  1.0  1.0  1.0  1.0  1.0      5
8   4250119167549  1.0  1.0  1.0  1.0  1.0      5
2   4210164790696  1.0  1.0  1.0  1.0  1.0      5
3   4220113316709  1.0  1.0  1.0  1.0  1.0      5
6   4210113863591  1.0  1.0  1.0  1.0  1.0      5
1   4410242997959  1.0  1.0  1.0  1.0  1.0      5
9   4220105630741  1.0  1.0  1.0  1.0  1.0      5
10  4210156195059  1.0  1.0  1.0  1.0  1.0      5
49  4210145447712  0.0  1.0  1.0  1.0  1.0      4
39  4250191411023  0.0  1.0  1.0  1.0  1.0      4
40  4220140225263  0.0  1.0  1.0  1.0  1.0      4
51  4210198030681  0.0  1.0  1.0  1.0  1.0      4
48  4210141137977  0.0  1.0  1.0  1.0  1.0      4
53  4220101410369  0.0  1.0  1.0  1.0  1.0      4
34  4210124609792  1.0  0.0  1.0  1.0  1.0      4
47  4210175076663  0.0  1.0  1.0  1.0  1.0      4
31  4210103553847  1.0  0.0  1.0  1.0  1.0      4
50  4220159083880  0.0  1.0  1.0  1.0  1.0      4
22  4210151751811  1.0  0.0  1.0  1.0  1.0      4
28  4210192767349  1.0  0.0  1.0  1.0  1.0      4
26  4250104502069  1.0  0.0  1.0  1.0  1.0      4
25  4220117852609  1.0  0.0  1.0  1.0  1.0      4
45  4210116966995  0.0  1.0  1.0  1.0  1.0      4
17  4240179641627  1.0  0.0  1.0  1.0  1.0      4
11  4240114707349  1.0  0.0  1.0  1.0  1.0      4
44  4230123126547  0.0  1.0  1.0  1.0  1.0      4
54  5440047459326  0.0  0.0  1.0  1.0  1.0      3
55  4200052746960  0.0  0.0  1.0  1.0  1.0      3
56  4230189725317  0.0  0.0  1.0  1.0  1.0      3
57  4250125987808  0.0  0.0  1.0  1.0  1.0      3
58  4210129511133  0.0  0.0  1.0  1.0  1.0      3
59  4240128161338  0.0  0.0  1.0  1.0  1.0      3
60  4210134163079  0.0  0.0  1.0  1.0  1.0      3
37  4250110257001  1.0  1.0  0.0  0.0  0.0      2
36  4220122868467  1.0  1.0  0.0  0.0  0.0      2
35  4210174905059  1.0  1.0  0.0  0.0  0.0      2
23  4210115022744  1.0  1.0  0.0  0.0  0.0      2
7   4220165351957  1.0  1.0  0.0  0.0  0.0      2
4   4210146436547  1.0  1.0  0.0  0.0  0.0      2
30  4240105171159  1.0  1.0  0.0  0.0  0.0      2
46  4230199459921  0.0  1.0  0.0  0.0  0.0      1
43  4210184252633  0.0  1.0  0.0  0.0  0.0      1
42  4220105436681  0.0  1.0  0.0  0.0  0.0      1
41  4230139662957  0.0  1.0  0.0  0.0  0.0      1
52  4220113823383  0.0  1.0  0.0  0.0  0.0      1
27  4220143471143  1.0  0.0  0.0  0.0  0.0      1
19  5440004083505  1.0  0.0  0.0  0.0  0.0      1

In [8]:
function abc(a,b){ a + b}

function abc(a,b){ 
    a + b
}

def abc(a,b):
    a + b

SyntaxError: invalid syntax (<ipython-input-8-2f0c2c3ff6ae>, line 1)