In [1]:
import numpy as np
import pandas as pd

In [2]:
g1 = pd.DataFrame(np.random.randint(80,100, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g2 = pd.DataFrame(np.random.randint(70,79, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g3 = pd.DataFrame(np.random.randint(60,69, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g4 = pd.DataFrame(np.random.randint(50,59, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g5 = pd.DataFrame(np.random.randint(40,49, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g6 = pd.DataFrame(np.random.randint(33,39, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g7 = pd.DataFrame(np.random.randint(0,32, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])

df = pd.concat([g1,g2,g3,g4,g5,g6,g7])
print(len(df))
df = df.drop_duplicates()# get all unique records
print(len(df))
df.head()

280000
203614

   s1  s2  s3  s4  s5
0  99  94  88  95  93
1  89  89  99  81  95
2  97  87  95  97  97
3  81  92  99  96  92
4  92  94  80  91  83

In [3]:
df.tail()

       s1  s2  s3  s4  s5
39995   8  27  18  19   4
39996  19  25  18   3  30
39997  27  11  23  18   9
39998   2   4   9  21  10
39999  11  13  28  11   1

# Symbolic AI

In [4]:
def grade(sb1,sb2, sb3, sb4, sb5):
    total = 500
    obtain = sb1 + sb2 + sb3 + sb4 + sb5
    per = (obtain / total) * 100
    
    grade = None
    
    if per >= 80:
        grade = "A+"
    elif per >= 70:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    elif per >= 40:
        grade = "D"
    elif per >= 33:
        grade = "E"
    else:
        grade = "Fail"
        
    return total, obtain , per , grade

# df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(x[0],x[1],x[2],x[3],x[4]), axis=1, result_type='expand')
df

       s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade
0      99  94  88  95  93    500       469        93.8    A+
1      89  89  99  81  95    500       453        90.6    A+
2      97  87  95  97  97    500       473        94.6    A+
3      81  92  99  96  92    500       460        92.0    A+
4      92  94  80  91  83    500       440        88.0    A+
...    ..  ..  ..  ..  ..    ...       ...         ...   ...
39995   8  27  18  19   4    500        76        15.2  Fail
39996  19  25  18   3  30    500        95        19.0  Fail
39997  27  11  23  18   9    500        88        17.6  Fail
39998   2   4   9  21  10    500        46         9.2  Fail
39999  11  13  28  11   1    500        64        12.8  Fail

[203614 rows x 9 columns]

In [5]:
df.Grade.value_counts()

Fail    39972
A+      39744
C       29121
B       29043
A       29042
D       28969
E        7723
Name: Grade, dtype: int64

In [6]:
df1 = pd.DataFrame()
test = pd.DataFrame()
for i in df.Grade.unique():
    df1 = pd.concat([df1,df[df.Grade==i].head(7723)])
    test = pd.concat([test,df[df.Grade==i].head(100)])
print(len(df1))
print(len(test))

54061
700

# Create data for ML and DL

In [7]:
data = df1[["s1","s2","s3",'s4','s5','Grade']].copy()
data = data.sample(frac=1)
data

      s1  s2  s3  s4  s5 Grade
830   50  51  50  50  57     C
8196  50  53  53  56  55     C
5423  54  54  54  57  55     C
3088  24  24  24   8   3  Fail
2796   7  21   5   9  27  Fail
...   ..  ..  ..  ..  ..   ...
3440  41  40  48  43  46     D
1337  88  90  82  88  83    A+
3983  73  77  74  74  70     A
2744  52  50  58  58  55     C
3524  34  36  33  38  34     E

[54061 rows x 6 columns]

In [8]:
X = data.loc[:,"s1":"s5"]
X

      s1  s2  s3  s4  s5
830   50  51  50  50  57
8196  50  53  53  56  55
5423  54  54  54  57  55
3088  24  24  24   8   3
2796   7  21   5   9  27
...   ..  ..  ..  ..  ..
3440  41  40  48  43  46
1337  88  90  82  88  83
3983  73  77  74  74  70
2744  52  50  58  58  55
3524  34  36  33  38  34

[54061 rows x 5 columns]

In [9]:
Y = data['Grade']
Y

830        C
8196       C
5423       C
3088    Fail
2796    Fail
        ...
3440       D
1337      A+
3983       A
2744       C
3524       E
Name: Grade, Length: 54061, dtype: object

# Why we apply one-hot-encode on multiclass classfication output

A+ = 1
A  = 2
B  = 3
C  = 4
D  = 5
E  = 6
F  = 7



A+ = 7
A  = 6
B  = 5
C  = 4
D  = 3
E  = 2
F  = 1


one-hot-encode
    A B C
A   1 0 0
B   0 1 0
C   0 0 1

In [10]:
Y1 = pd.get_dummies(Y)
Y1

      A  A+  B  C  D  E  Fail
830   0   0  0  1  0  0     0
8196  0   0  0  1  0  0     0
5423  0   0  0  1  0  0     0
3088  0   0  0  0  0  0     1
2796  0   0  0  0  0  0     1
...  ..  .. .. .. .. ..   ...
3440  0   0  0  0  1  0     0
1337  0   1  0  0  0  0     0
3983  1   0  0  0  0  0     0
2744  0   0  0  1  0  0     0
3524  0   0  0  0  0  1     0

[54061 rows x 7 columns]

In [11]:
Y1.drop_duplicates()

      A  A+  B  C  D  E  Fail
830   0   0  0  1  0  0     0
3088  0   0  0  0  0  0     1
3442  0   1  0  0  0  0     0
2088  0   0  0  0  1  0     0
1240  0   0  0  0  0  1     0
2587  0   0  1  0  0  0     0
6540  1   0  0  0  0  0     0

<img src = "https://camo.githubusercontent.com/b58d0e55e0c4746365bcd37b69878387f0b05b3fb79cb4d70d3a50673d0ea8c1/68747470733a2f2f69302e77702e636f6d2f73656d69656e67696e656572696e672e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031382f30312f4d4c7673444c2e706e673f73736c3d31">

# Now apply Deep Learning

In [12]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# Create Model

In [13]:
print(X.head(1).values[0])
print(X.head(1).values[0].shape)

[50 51 50 50 57]
(5,)

# Multi classification problem

In [14]:
model = Sequential()

#               32  = output should be power 2 value 2,4,8,16,32,......
model.add(Dense(32 , activation='relu' ,input_shape=(5,))) #input layer
model.add(Dense(16, activation='relu')) # hidden layer
model.add(Dense(7, activation='softmax'))# outlayer 7= unique output classes, softmax->7 probility this sum always = 1

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                192
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
dense_2 (Dense)              (None, 7)                 119
=================================================================
Total params: 839
Trainable params: 839
Non-trainable params: 0
_________________________________________________________________

# Compilation Steps

In [16]:
model.compile(optimizer=SGD(learning_rate=0.002), 
              loss='categorical_crossentropy',
              metrics=['acc'])

# Now Start Training

In [17]:
model.fit(X,Y1, epochs=60)

Epoch 1/60
1690/1690 [==============================] - 2s 727us/step - loss: 2.1922 - acc: 0.2530 0s - loss: 2.684
Epoch 2/60
1690/1690 [==============================] - 1s 720us/step - loss: 1.6718 - acc: 0.2841
Epoch 3/60
1690/1690 [==============================] - 1s 712us/step - loss: 1.6309 - acc: 0.2902
Epoch 4/60
1690/1690 [==============================] - 1s 672us/step - loss: 1.5996 - acc: 0.2974
Epoch 5/60
1690/1690 [==============================] - 1s 767us/step - loss: 1.5826 - acc: 0.3029
Epoch 6/60
1690/1690 [==============================] - 1s 669us/step - loss: 1.5659 - acc: 0.3079
Epoch 7/60
1690/1690 [==============================] - 1s 686us/step - loss: 1.5488 - acc: 0.3102
Epoch 8/60
1690/1690 [==============================] - 1s 848us/step - loss: 1.5405 - acc: 0.3153
Epoch 9/60
1690/1690 [==============================] - 1s 744us/step - loss: 1.5294 - acc: 0.3158
Epoch 10/60
1690/1690 [==============================] - 1s 798us/step - loss: 1.5077 - acc: 0.3321
Epoch 11/60
1690/1690 [==============================] - 1s 708us/step - loss: 1.4992 - acc: 0.3372
Epoch 12/60
1690/1690 [==============================] - 1s 695us/step - loss: 1.4808 - acc: 0.3420
Epoch 13/60
1690/1690 [==============================] - 1s 715us/step - loss: 1.4664 - acc: 0.3494
Epoch 14/60
1690/1690 [==============================] - 1s 702us/step - loss: 1.4394 - acc: 0.3636
Epoch 15/60
1690/1690 [==============================] - 1s 727us/step - loss: 1.4353 - acc: 0.3639
Epoch 16/60
1690/1690 [==============================] - 1s 726us/step - loss: 1.4200 - acc: 0.3708 0s - loss: 1.4203 - acc: 0.37
Epoch 17/60
1690/1690 [==============================] - 1s 693us/step - loss: 1.4106 - acc: 0.3764
Epoch 18/60
1690/1690 [==============================] - 1s 704us/step - loss: 1.3874 - acc: 0.3933
Epoch 19/60
1690/1690 [==============================] - 1s 714us/step - loss: 1.3818 - acc: 0.4033
Epoch 20/60
1690/1690 [==============================] - 1s 700us/step - loss: 1.3793 - acc: 0.4037
Epoch 21/60
1690/1690 [==============================] - 1s 675us/step - loss: 1.3738 - acc: 0.3891
Epoch 22/60
1690/1690 [==============================] - 1s 697us/step - loss: 1.3585 - acc: 0.4049
Epoch 23/60
1690/1690 [==============================] - 1s 692us/step - loss: 1.3416 - acc: 0.4231
Epoch 24/60
1690/1690 [==============================] - 1s 727us/step - loss: 1.3027 - acc: 0.4380 0s - loss: 1.31
Epoch 25/60
1690/1690 [==============================] - 1s 711us/step - loss: 1.2695 - acc: 0.4566
Epoch 26/60
1690/1690 [==============================] - 1s 691us/step - loss: 1.2446 - acc: 0.4823
Epoch 27/60
1690/1690 [==============================] - 1s 688us/step - loss: 1.2171 - acc: 0.5167
Epoch 28/60
1690/1690 [==============================] - 1s 787us/step - loss: 1.1988 - acc: 0.5501
Epoch 29/60
1690/1690 [==============================] - 1s 694us/step - loss: 1.1671 - acc: 0.5801
Epoch 30/60
1690/1690 [==============================] - 1s 694us/step - loss: 1.1327 - acc: 0.6000
Epoch 31/60
1690/1690 [==============================] - 1s 695us/step - loss: 1.1033 - acc: 0.6074
Epoch 32/60
1690/1690 [==============================] - 1s 680us/step - loss: 1.0698 - acc: 0.6103
Epoch 33/60
1690/1690 [==============================] - 1s 763us/step - loss: 1.0400 - acc: 0.6107
Epoch 34/60
1690/1690 [==============================] - 1s 713us/step - loss: 1.0078 - acc: 0.6195
Epoch 35/60
1690/1690 [==============================] - 1s 812us/step - loss: 0.9718 - acc: 0.6271
Epoch 36/60
1690/1690 [==============================] - 1s 845us/step - loss: 0.9349 - acc: 0.6361
Epoch 37/60
1690/1690 [==============================] - 1s 807us/step - loss: 0.9012 - acc: 0.6470
Epoch 38/60
1690/1690 [==============================] - 1s 691us/step - loss: 0.8692 - acc: 0.6561
Epoch 39/60
1690/1690 [==============================] - 1s 700us/step - loss: 0.8457 - acc: 0.6626
Epoch 40/60
1690/1690 [==============================] - 1s 692us/step - loss: 0.8164 - acc: 0.6811
Epoch 41/60
1690/1690 [==============================] - 1s 710us/step - loss: 0.7945 - acc: 0.6892
Epoch 42/60
1690/1690 [==============================] - 1s 733us/step - loss: 0.7738 - acc: 0.6984
Epoch 43/60
1690/1690 [==============================] - 1s 713us/step - loss: 0.7510 - acc: 0.7128
Epoch 44/60
1690/1690 [==============================] - 1s 819us/step - loss: 0.7393 - acc: 0.7143
Epoch 45/60
1690/1690 [==============================] - 1s 689us/step - loss: 0.7304 - acc: 0.7201
Epoch 46/60
1690/1690 [==============================] - 1s 710us/step - loss: 0.7164 - acc: 0.7304
Epoch 47/60
1690/1690 [==============================] - 1s 714us/step - loss: 0.7004 - acc: 0.7367
Epoch 48/60
1690/1690 [==============================] - 1s 712us/step - loss: 0.6871 - acc: 0.7444
Epoch 49/60
1690/1690 [==============================] - 1s 711us/step - loss: 0.6761 - acc: 0.7536
Epoch 50/60
1690/1690 [==============================] - 1s 713us/step - loss: 0.6685 - acc: 0.7630
Epoch 51/60
1690/1690 [==============================] - 1s 729us/step - loss: 0.6559 - acc: 0.7697
Epoch 52/60
1690/1690 [==============================] - 1s 686us/step - loss: 0.6450 - acc: 0.7737
Epoch 53/60
1690/1690 [==============================] - 1s 706us/step - loss: 0.6348 - acc: 0.7811
Epoch 54/60
1690/1690 [==============================] - 1s 672us/step - loss: 0.6296 - acc: 0.7859
Epoch 55/60
1690/1690 [==============================] - 1s 795us/step - loss: 0.6233 - acc: 0.7979
Epoch 56/60
1690/1690 [==============================] - 1s 848us/step - loss: 0.6103 - acc: 0.8091
Epoch 57/60
1690/1690 [==============================] - 2s 950us/step - loss: 0.6013 - acc: 0.8238
Epoch 58/60
1690/1690 [==============================] - 2s 894us/step - loss: 0.5900 - acc: 0.8395
Epoch 59/60
1690/1690 [==============================] - 1s 687us/step - loss: 0.5722 - acc: 0.8471
Epoch 60/60
1690/1690 [==============================] - 1s 760us/step - loss: 0.5631 - acc: 0.8507

# Now Generate new data for Testing

In [18]:
test[["Total","Obtained","Percentage","Grade"]] = test[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
test.head()

test_X, test_Y = test.loc[:,"s1":"s5"], pd.get_dummies(test['Grade'])
display(test_X)
display(test_Y)

    s1  s2  s3  s4  s5
0   99  94  88  95  93
1   89  89  99  81  95
2   97  87  95  97  97
3   81  92  99  96  92
4   92  94  80  91  83
..  ..  ..  ..  ..  ..
95  23  10   7   8   2
96  20  16  10   0  10
97  20  17  30  22  26
98  30   1  21  17  10
99  29  31  11  23  21

[700 rows x 5 columns]

    A  A+  B  C  D  E  Fail
0   0   1  0  0  0  0     0
1   0   1  0  0  0  0     0
2   0   1  0  0  0  0     0
3   0   1  0  0  0  0     0
4   0   1  0  0  0  0     0
.. ..  .. .. .. .. ..   ...
95  0   0  0  0  0  0     1
96  0   0  0  0  0  0     1
97  0   0  0  0  0  0     1
98  0   0  0  0  0  0     1
99  0   0  0  0  0  0     1

[700 rows x 7 columns]

# Test on Testing data

In [19]:
model.evaluate(test_X,test_Y)

22/22 [==============================] - 0s 902us/step - loss: 0.5355 - acc: 0.8900

[0.5354517102241516, 0.8899999856948853]

# prediction with model

In [20]:
Y_predict = model.predict(test_X)
Y_predict[0]

array([2.2153950e-01, 7.1273005e-01, 6.2344868e-02, 3.3829901e-03,
       2.4544518e-06, 1.0222239e-13, 1.8720438e-07], dtype=float32)

# apply post processing to get out human readable

In [21]:
np.argmax(Y_predict[0]) # return maximum value index number

1

In [22]:
display(test_Y.head(5))
display(test_Y.columns)
display(test_Y.columns[6])
# display(test_Y.columns[np.argmax(Y_predict[0])])

   A  A+  B  C  D  E  Fail
0  0   1  0  0  0  0     0
1  0   1  0  0  0  0     0
2  0   1  0  0  0  0     0
3  0   1  0  0  0  0     0
4  0   1  0  0  0  0     0

Index(['A', 'A+', 'B', 'C', 'D', 'E', 'Fail'], dtype='object')

'Fail'

In [23]:
labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
Y_predict2 = pd.DataFrame(model.predict(test_X)).apply(lambda x:labels[np.argmax(x)],axis=1)
Y_predict2

0        A+
1        A+
2        A+
3        A+
4        A+
       ...
695    Fail
696    Fail
697    Fail
698    Fail
699    Fail
Length: 700, dtype: object

def fn_postprocessing(x):
    labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
    return labels[np.argmax(x)]

Y_predict1 = pd.Series(model.predict(test_X)).apply(fn_postprocessing)
Y_predict1

In [24]:
test['prediction'] = Y_predict2
test

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   99  94  88  95  93    500       469        93.8    A+         A+
1   89  89  99  81  95    500       453        90.6    A+         A+
2   97  87  95  97  97    500       473        94.6    A+         A+
3   81  92  99  96  92    500       460        92.0    A+         A+
4   92  94  80  91  83    500       440        88.0    A+         A+
..  ..  ..  ..  ..  ..    ...       ...         ...   ...        ...
95  23  10   7   8   2    500        50        10.0  Fail         A+
96  20  16  10   0  10    500        56        11.2  Fail          A
97  20  17  30  22  26    500       115        23.0  Fail         A+
98  30   1  21  17  10    500        79        15.8  Fail         A+
99  29  31  11  23  21    500       115        23.0  Fail         A+

[700 rows x 10 columns]

In [26]:
test.iloc[100:200].head(60)

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   70  74  71  74  70    500       359        71.8     A         A+
1   75  73  70  70  74    500       362        72.4     A         A+
2   72  76  70  72  74    500       364        72.8     A         A+
3   73  70  78  74  72    500       367        73.4     A         A+
4   74  74  75  72  73    500       368        73.6     A         A+
5   70  74  77  71  72    500       364        72.8     A          A
6   75  77  76  73  71    500       372        74.4     A         A+
7   71  72  75  75  74    500       367        73.4     A          A
8   77  70  73  78  71    500       369        73.8     A         A+
9   77  70  77  72  75    500       371        74.2     A         A+
10  75  73  74  78  78    500       378        75.6     A          A
11  78  77  70  70  74    500       369        73.8     A         A+
12  73  70  76  78  70    500       367        73.4     A         A+
13  78  71  75  72  73    500       369        73.8     A         A+
14  77  74  75  78  73    500       377        75.4     A          A
15  75  71  73  77  70    500       366        73.2     A         A+
16  71  72  77  76  70    500       366        73.2     A         A+
17  70  71  78  72  71    500       362        72.4     A         A+
18  74  71  76  75  74    500       370        74.0     A         A+
19  73  74  78  76  77    500       378        75.6     A         A+
20  73  76  72  73  73    500       367        73.4     A          A
21  74  70  78  78  70    500       370        74.0     A         A+
22  72  74  76  71  77    500       370        74.0     A         A+
23  75  72  77  75  71    500       370        74.0     A         A+
24  70  70  76  77  73    500       366        73.2     A         A+
25  73  74  77  70  78    500       372        74.4     A         A+
26  73  78  74  73  75    500       373        74.6     A          A
27  78  72  74  73  76    500       373        74.6     A         A+
28  74  73  74  74  73    500       368        73.6     A         A+
29  77  75  72  72  73    500       369        73.8     A         A+
30  72  70  77  74  71    500       364        72.8     A         A+
31  70  78  74  74  78    500       374        74.8     A          A
32  77  74  72  70  70    500       363        72.6     A         A+
33  72  74  76  71  74    500       367        73.4     A         A+
34  74  71  76  72  70    500       363        72.6     A         A+
35  74  76  77  70  74    500       371        74.2     A         A+
36  77  73  72  71  70    500       363        72.6     A         A+
37  71  76  72  77  73    500       369        73.8     A         A+
38  78  77  76  77  78    500       386        77.2     A          A
39  76  76  71  77  73    500       373        74.6     A          A
40  70  78  76  71  75    500       370        74.0     A         A+
41  70  72  73  74  78    500       367        73.4     A         A+
42  75  75  73  76  73    500       372        74.4     A          A
43  72  77  76  76  77    500       378        75.6     A         A+
44  74  71  75  71  74    500       365        73.0     A         A+
45  78  70  75  77  74    500       374        74.8     A         A+
46  70  78  73  76  73    500       370        74.0     A         A+
47  77  78  73  73  77    500       378        75.6     A          A
48  72  76  78  76  70    500       372        74.4     A          A
49  70  78  74  71  78    500       371        74.2     A         A+
50  71  71  77  77  74    500       370        74.0     A         A+
51  78  73  72  73  74    500       370        74.0     A          A
52  74  75  78  76  73    500       376        75.2     A         A+
53  75  73  71  71  71    500       361        72.2     A         A+
54  71  77  70  74  70    500       362        72.4     A         A+
55  72  78  70  70  74    500       364        72.8     A         A+
56  76  72  78  73  77    500       376        75.2     A         A+
57  74  72  77  70  73    500       366        73.2     A          A
58  75  78  73  75  77    500       378        75.6     A         A+
59  72  72  73  77  74    500       368        73.6     A         A+